* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.info a,
footer a {
  color: #989898;
}
.info a:hover,
footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.disp-flex {
  display: flex;
}

.mt-50 {
  margin-top: 50px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-20 {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
}

.info {
  height: 40px;
  background-color: #101010;
}
.info .first-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  font-size: 14px;
}
.info .first-nav div i {
  color: #009CFF;
}

.first-nav > * {
  padding-right: 25px;
}

.navbar {
  height: 55px;
  background-color: #101010;
}
.navbar nav {
  display: flex;
  align-items: center;
  height: 55px;
  font-size: 16px;
}
.navbar nav div > a {
  margin-left: 30px;
  color: #ffffff;
}
.navbar nav div > a:hover {
  background-color: #ffffff;
  color: #101010;
  padding: 20px;
}
.navbar nav i {
  color: #989898;
}

.logo img {
  width: 100px;
}

.jumbo {
  background-image: url("../../assets/img/bg-painter-home.jpg");
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbo .jumbo-child > p {
  font-size: 20px;
}
.jumbo .jumbo-child .pink {
  font-size: 20px;
  color: #c70cb9;
}
.jumbo .jumbo-child > * {
  width: 50%;
}
.jumbo div button:first-of-type {
  background-color: #101010;
  color: #ffffff;
}
.jumbo div button:nth-child(2) {
  border: 2px solid #101010;
  color: #101010;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 30px;
}

.logo-2021 img {
  width: 250px;
}
