*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  margin: 0 auto;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.info a,
footer a{
  color:  #989898;
  &:hover{
    color: $text_color;
    text-decoration: underline;
  }
}

.disp-flex{
  display: flex;
}

.mt-50{
  margin-top: 50px;
}

.mt-35{
  margin-top: 35px;
}

.mt-45{
  margin-top: 45px;
}

.mt-20{
  margin-top: 20px;
}

button{
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: $p_jumbo;
  border: none;
}
