*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  margin: 0 auto;
}

main{
  background-color: $back_color;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.info a,
footer a{
  color:  #989898;
  &:hover{
    color: $text_color;
    text-decoration: underline;
  }
}

.disp-flex{
  display: flex;
}

// margin & padding
.mt-50{
  margin-top: 50px;
}

.mt-35{
  margin-top: 35px;
}

.mt-45{
  margin-top: 45px;
}

.mt-70{
  margin-top: 70px;
}

.mt-20{
  margin-top: 20px;
}

.mb-45{
  margin-bottom: 45px
}

.pt-45{
  padding-top: 45px;
}

.pb-45{
  padding-bottom: 45px;
}

.pb-25{
  padding-bottom: 25px;
}
// margin & padding

.text-cent{
  text-align: center;
}

button{
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: $p_jumbo;
  border: none;
}
