footer{
  height: 90px;
  background-color: $primary_color;
  display: flex;
  align-items: center;
  & > div{
    justify-content: space-between;
    align-items: center;
    .logo-footer img{
      padding-left: 20px;
    }
    .copyright{
      display: flex;
      & > *{
        padding-right: 20px;
      }
      p{
        color: $text_color;
      }
    }
  }
}
