.info{
  height: 40px;
  background-color: $primary_color;
  .first-nav{
    @include flex-head;
    justify-content: flex-end;
    height: 40px;
    font-size: $font_small;
    & div i{
      color: $second_color;
    }
  }
}

.first-nav > *{
  padding-right: 25px;
}
